body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: #673ab7;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    background-color: #2196f3;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #1565c0;
}

.message {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #009688;
}

.start-again {
    background-color: #673ab7;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none; 
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
}

.start-again:hover {
    background-color: #512da8;
}
